@media (max-width: 1200px) {}

@media (max-width: 992px) {
  #top-menu--inner-menu {
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
  }

  #logo {
    grid-row: 1;
    grid-column: 1/-1;
  }

  .top-btns-wrapper {
    grid-row: 2;
    grid-column: 1/-1;
  }

  .search-form {
    grid-row: 3;
    grid-column: 1/-1;
  }

  #top-menu {
    top: 19.2rem
  }
}

@media (max-width: 576px) {
  #top-menu--inner-menu {
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .top-menu--inner-menu--column--title {
    cursor: pointer;
  }

  .top-menu--inner-menu--column ul {
    display: none;
  }

  .top-menu--inner-menu--column ul.display {
    display: flex;
  }

  .top-menu--footer {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }

  .top-menu--footer-list {
    grid-column: 1/-1;
  }

  #social-links {
    grid-row: 2;
  }

  #top-menu--language-selector {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    position: relative;
    width: min-content;
    color: #6b6b6b;
  }
}